

{{#partial "content"}}

    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <div class="container-fluid">
        <div class="row">
            <!-- Side menu  -->
            <div class="col-md-2"id="side">
                <ul class="navbar-nav d-flex flex-md-column align-items-center py-2 sticky-top mt-5 w-100 ">
                    <li class="nav-item"><a class="nav-link" href="/dashboard">My Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
                    <li class="nav-item"><a class="nav-link" href="/bookings">Bookings</a></li>
                    <br>
                    <br>

                    <i class="fa fa-power-off" aria-hidden="true"></i>
                    <li class="nav-item"> <a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </div>
            <!-- main working area  -->
            <div class="col-md-10">
                <!-- Top Navigation  -->
                <div class="row-2">
                    <nav class="navbar">

                        <div class="container-fluid">
                            <div class="profole">

                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4">
                                <form class="d-flex">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                </form>
                            </div>

                        </div>
                    </nav>
                </div>
                <!-- Working area -->
                <div class="row-10">
                    <div  class="frames">

                            <div class="rectangle frameone" >
                                <br>
                                <h3 style="color: aliceblue;">User</h3>
                                <h2>{{total}}</h2>
                            </div>


                            <div class="rectangle frametwo">
                                <br>
                                <h3 style="color: aliceblue;">Orders</h3>
                                <h2>{{orders}}</h2>
                            </div>


                            <div class="rectangle framethree">
                                <br>
                                <h3 style="color: aliceblue;">Income</h3>
                                <h2>N/A</h2>
                            </div>

                    </div>


                </div>
                <br>
                <br>
                <h9>New users</h9>
                <br>
                <ul class="list-group">

                    {{#if new}}
                        {{#each new}}
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="images/prof.png" alt="profile pic">
                                </div>
                                <div class="col-md-4">
                                    <h3>Name:{{name}}</h3>
                                    <h3>Email:{{email}}</h3>
                                </div>
                                <div class="col-md-4">
                                    <img src="images/Group.png" alt="arrow pic" id="arrow">
                                </div>
                            </div>

                        {{/each}}
                    {{/if}}


                </ul>

            </div>


        </div>
    </div>
{{/partial}}

{{> layout.hbs}}