

{{#partial "content"}}

    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <div class="container-fluid">
        <div class="row">
            <!-- Side menu  -->
            <div class="col-md-4"id="side">
                <ul class="navbar-nav d-flex flex-md-column align-items-center py-2 sticky-top mt-5 w-100 ">
                    <li class="nav-item"><a class="nav-link" href="/dashboard">My Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
                    <li class="nav-item"><a class="nav-link" href="/bookings">Bookings</a></li>
                    <br>
                    <br>
                    <hr class="new1">
                    <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                    <li class="nav-item"><img src="images/power.png"> <a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </div>
            <!-- main working area  -->
            <div class="col-md-8">
                <!-- Top Navigation  -->
                <div class="row-2">
                    <nav class="navbar">
                        <div class="container-fluid">
                            <div class="col-md-4">
                                <img src="images/prof.png" alt="profile pic" id="profile">
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4">
                                <h6 style = "position:relative;">Vikins Treo</h6>
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4">
                                <form class="d-flex">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                </form>
                            </div>
                            <h5 style="margin-top:10px;">Last seen 20th May 2022</h5>
                        </div>
                    </nav>
                </div>
                <!-- Working area -->
                <div class="row-10">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="rectangle">
                                <br>
                                <h3 style="color: aliceblue;">User</h3>
                                <h2>20</h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="rectangle">
                                <br>
                                <h3 style="color: aliceblue;">Orders</h3>
                                <h2>200</h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="rectangle">
                                <br>
                                <h3 style="color: aliceblue;">Income</h3>
                                <h2>20000</h2>
                            </div>
                        </div>
                    </div>


                </div>
                <br>
                <br>
                <h9>New users</h9>
                <br>
                <ul class="list-group">
                    <div class="row" id="one">
                        <li class="list-group-item" id="one">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="images/Ellipse 5.png" alt="profile pic">
                                </div>
                                <div class="col-md-4">
                                    <h3>Name:Joe</h3>
                                    <h3>Email:joejoe@gmail.com</h3>
                                </div>
                                <div class="col-md-4">
                                    <img src="images/arrow-right-circle.png" alt="arrow pic" id="arrow">
                                </div>
                            </div>

                        </li>
                    </div>
                    <div class="row" id="two">
                        <li class="list-group-item" id="two">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="images/Ellipse 5.png" alt="profile pic" >
                                </div>
                                <div class="col-md-4">
                                    <h3>Name:Sarah</h3>
                                    <h3>Email:sarahsarah@gmail.com</h3>
                                </div>
                                <div class="col-md-4">
                                    <img src="images/arrow-right-circle.png" alt="arrow pic" id="arrow">
                                </div>
                            </div>

                        </li>
                    </div>
                    <div class="row" id="one">
                        <li class="list-group-item" id="three">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="images/Ellipse 5.png" alt="profile pic">
                                </div>
                                <div class="col-md-4">
                                    <h3>Name:Mark</h3>
                                    <h3>Email:markmark@gmail.com</h3>
                                </div>
                                <div class="col-md-4">
                                    <img src="images/arrow-right-circle.png" alt="arrow pic" id="arrow">
                                </div>
                            </div>

                        </li>
                    </div>
                    <div class="row" id="one">
                        <li class="list-group-item" id="four">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="images/Ellipse 5.png" alt="profile pic">
                                </div>
                                <div class="col-md-4">
                                    <h3>Name:Olivia</h3>
                                    <h3>Email:oliviaolivia@gmail.com</h3>
                                </div>
                                <div class="col-md-4">
                                    <img src="images/arrow-right-circle.png" alt="arrow pic" id="arrow">
                                </div>
                            </div>

                        </li>
                    </div>
                    <div class="row" id="one">
                        <li class="list-group-item" id="five">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="images/Ellipse 5.png" alt="profile pic">
                                </div>
                                <div class="col-md-4">
                                    <h3>Name:Taylor</h3>
                                    <h3>Email:taylortaylor@gmail.com</h3>
                                </div>
                                <div class="col-md-4">
                                    <img src="images/arrow-right-circle.png" alt="arrow pic" id="arrow">
                                </div>
                            </div>

                        </li>
                    </div>


                </ul>

            </div>


        </div>
    </div>
{{/partial}}

{{> layout.hbs}}