
{{#partial "content"}}

    <link rel="stylesheet" href="/css/bookings.css">

<div class="container-fluid">
    <div class="row">
        <!-- Side menu  -->
        <div class="col-md-2"id="side">
            <ul class="navbar-nav d-flex flex-md-column align-items-center py-2 sticky-top mt-5 w-100 ">
                <li class="nav-item"><a class="nav-link" href="/dashboard">My Account</a></li>
                <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
                <li class="nav-item"><a class="nav-link" href="/bookings">Bookings</a></li>
                <br>
                <br>
                     <li class="nav-item"> <a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>
        <!-- main working area  -->
        <div class="col-md-10">
            <!-- Top Navigation  -->
            <div class="row-2">
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </div>

                    </div>
                </nav>
            </div>
            <!-- Working area -->
            <div class="row-10">
                <br>
                <ul class="list-group">

    {{#if All}}
        {{#each All}}
                   <div class="row">
                                <div class="col-md-4">
                                    <img src="images/prof.png" alt="profile pic">
                                </div>
                                <div class="col-md-4">
                                    <h3>Name: {{name}}</h3>
                                    <h3>Amount:<p4>{{price}}</p4></h3>
                                </div>
                                <div class="col-md-4">
                                      <img src="images/arrow-circle .png"  alt="arrow pic" id="arrow">
                                </div>
                   </div>
        {{/each}}
        {{/if}}




                </ul>




            </div>

        </div>


    </div>
</div>
{{/partial}}

{{> layout.hbs}}