{{#partial "title"}}Delete{{/partial}}

{{#partial "content"}}
    <link rel='stylesheet' href='/css/delete.css'>
    <ul class="list-group">

                <div class="row">
                    <div class="col-md-3">
                        <img src="images/Ellipse 7.png" alt="profile pic">
                    </div>
                    <div class="col-md-3">
                        <h3 class="names">Name: <br> Email: <br> Amount: <br> Moving From: <br> Moving To:</h3>

                    </div>
                    <div class="col-md-3"><h4>Linda Makena <br> linda@gmail.com <br> 30,000ksh <br> Ngara <br> Parklands</h4></div>
                    <div class="col-md-3" id="delete">Delete</div>
                    <img src="/images/unsplash_6MsMKWzJWKc.png" alt="map" class="center">
                    <div class="btn-row">

                        <button type="button" class="btn btn-success margin-10 ">Accept</button>
                        <button type="button" class="btn btn-danger margin-10">Decline</button>
                    </div>

                </div>


    </ul>

{{/partial}}

{{> layout.hbs}}