{{#partial "content"}}

    <link rel="stylesheet" href="/css/logout.css">
    <div class="main-content">
        <div class="header">
            <div class="header-item1">
                <img src="images/chevron-left.png" alt="back button" class="back-arrow">
            </div>

            <div class="header-item2">
                <h4 class="logout">Logout</h4> <br>
            </div>
        </div>

        <div class="body">
            <div class="">
                <img src="images/Ellipse 7.png" alt="profile pic" class="img">
            </div>
            <div class="">
                <h3 class="name">Linda Makena</h3>
                <h6 class="email">lindamakena@gmail.com</h6>
            </div>
        </div>

        <div class="footer">
            <h5>Orders</h5>
            <div class="user-details">

                <div class="user">
                    <div class="user-left">
                        <img src="images/Ellipse 7.png" alt="profile pic" class="user-img">

                        <div>
                            <h3 class="name1">Name:Joe</h3>
                            <h3 class="amt">Amount:20,000KES </h3>
                        </div>
                    </div>
                    <div class="user-right">
                        <p class="status">Paid</p>

                        <img src="images/Vector.png"  alt="arrow pic" id="arrow">
                    </div>
                </div>

                <div class="user">
                    <div class="user-left">
                        <img src="images/Ellipse 7.png" alt="profile pic" class="user-img">

                        <div>
                            <h3 class="name1">Name:Joe</h3>
                            <h3 class="amt">Amount:20,000KES </h3>
                        </div>
                    </div>
                    <div class="user-right">
                        <p class="status">Paid</p>

                        <img src="images/Vector.png"  alt="arrow pic" id="arrow">
                    </div>
                </div>

                <div class="user">
                    <div class="user-left">
                        <img src="images/Ellipse 7.png" alt="profile pic" class="user-img">

                        <div>
                            <h3 class="name1">Name:Joe</h3>
                            <h3 class="amt">Amount:20,000KES </h3>
                        </div>
                    </div>
                    <div class="user-right">
                        <p class="status">Paid</p>

                        <img src="images/Vector.png"  alt="arrow pic" id="arrow">
                    </div>
                </div>

            </div>
        </div>

    </div>

{{/partial}}

{{> layout.hbs}}